<div class="new-tweet">
  <div class="errors">
    <% @errors.each do |error| %>
    <p><%= error %></p>
    <% end %>
  </div>
  <%= form_tag("/tweets/create") do %>   <!-- ここに入力された情報を　"/tweets/create"　へ送る -->
    <div class="text-wrap">
      <input type="text" name="name" placeholder="ユーザー名" value="<%= params[:name] %>"/>
    </div>
    <div class="textarea-wrap">
      <textarea name="tweet" placeholder="伝言を140文字以内で記述してください。"><%= params[:tweet] %></textarea>
    </div>
    <input type="submit" value="送信" />
  <% end %>
</div>